.ace_scrollbar-v {
    overflow-y: auto;
  }
  
#json-viewer-container{
    width: 100%;
    height: 71vh;
    border-radius: 0.4rem;
    overflow: auto;
}

#json-viewer-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#json-viewer-container::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
    border-radius: 6px;
}

#json-viewer-container::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

#json-viewer-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 155, 155, 0.7);
}

#viewer {
    overflow: hidden;
    margin-bottom: 0.5rem;
}