/* Standard Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2001;
}

.modal-container {
  background-color: var(--color-panel);
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
}

.light-mode .modal-container {
  background-color: var(--color-panel-light);
}

.modal-header {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-primary);
  display: grid;
  grid-template-columns: 40fr 0.5fr;
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  align-items: center;
  justify-content:space-between;
}

.modal-header h2 {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  margin: 0;
}

.modal-header > svg {
  fill: var(--color-primary);
  max-height: 30px !important;
}

.modal-subheader {
  padding: 0.7rem 1.5rem;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: none;
  font-size: xx-large;
  border: none;
  color: var(--color-text);
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s;
}

.modal-close:hover {
  opacity: 1;
}

.modal-description {
  padding: 0.8rem 2rem 0rem 2rem;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.modal-content {
  padding: 0.5rem 1.5rem 0rem 1.5rem;
  overflow-y: auto;
  height: calc(90vh);
  flex-grow: 1;
  background-clip: border-box;
  border: 6px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
  border-radius: 6px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}

#buttons-container {
    display: flex;
    gap: 0.5rem !important;
}

.modal-footer {
  padding: 0.6rem 2rem 0.6rem 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: flex-end;
  background: var(--color-background);
  gap: 1rem;
}

.section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.section-description {
  color: var(--color-text);
  margin-bottom: 1rem;
}

#buttons-container {
  display: flex;
  gap: 0.875rem;
}

.btn {
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.btn-ok {
  background: #4248f1;
  color: white;
  transition: background 0.3s ease-in-out;
}

.btn-ok > svg {
  max-width: 20px;
}

.btn-ok:hover {
  background: #353bc5;
}

.btn-ok:active {
  background: #2b309c;
}

.btn-cancel {
  background: transparent;
  color: var(--color-accent);
  border: 0.15rem solid var(--color-accent);
  transition: background 0.3s ease-in-out;
}

.btn-cancel:hover {
  background: var(--color-accent);
  color: var(--color-text);
}

.btn-cancel:active {
  background: #a94658;
  color: var(--color-text);
}

.light-mode .btn-cancel:hover {
  background: var(--color-accent);
  color: var(--color-background);
}

.light-mode .btn-cancel:active {
  background: #a94658;
  color: var(--color-background);
}

.btn-field {
  background: #2196f3;
  color: white;
  width: fit-content;
}

.btn-field:disabled {
  background: #ccc;
  cursor: not-allowed;
}

h2 {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .modal-content {
      padding: 1rem;
      overflow-y: auto;
      flex-grow: 1;
  }
  .modal-footer {
      padding: var(--spacing-md) 0rem var(--spacing-md) 0 !important;
  }
  .section {
      margin-bottom: 1.5rem;
      padding: 1rem;
      border: 1px solid var(--color-border);
      border-radius: 0.5rem;
  }
  #buttons-container {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .modal-header {
    text-wrap: nowrap;
  }
  #buttons-container {
    max-height: 50px;  
  }
  .btn {
    text-wrap: wrap;
  }
  .btn-upload {
    margin: 0 auto;
    gap: 0.5rem;
    align-items:center;    
  }  
  .btn-upload > svg {
    width: 20px;
  }
}