#toast {
  position: relative;
  width: 98.5%;
  bottom: var(--spacing-xs);
  left: var(--spacing-xs);
  background-color: #333;
  color: #fff;
  padding: 0.3em;
  border-radius: 0.3125em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: none;
  align-items: center;
  z-index: 9999;
}

#toast.show {
  display: flex;
  animation: toastIn 0.3s ease-out forwards;
}

#toast.hide {
  animation: toastOut 0.3s ease-in forwards;
}

#toast.toast--success {
  background-color: #4CAF50;
}

#toast.toast--error {
  background-color: #731811;
}

#toast.toast--info {
  background-color: #2196F3;
}

.toast__message {
  margin-left: var(--spacing-xs);
  margin-right: 16px;
  flex-grow: 1;
}

.toast__close,
.toast__copy {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

/* Animations */

@keyframes toastIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes toastOut {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(20px);
  }
}