{% set name = "jsonpatch" %}
{% set version = "1.33" %}

package:
  name: {{ name|lower }}
  version: {{ version }}

source:
  url: https://pypi.io/packages/source/{{ name[0] }}/{{ name }}/{{ name }}-{{ version }}.tar.gz
  sha256: 9fcd4009c41e6d12348b4a0ff2563ba56a2923a7dfee731d004e212e1ee5030c

build:
  number: 1
  script: {{ PYTHON }} -m pip install . --no-deps --no-build-isolation -vv

requirements:
  host:
    - python
    - pip
    - setuptools
    - wheel
  run:
    - python
    - jsonpointer >=1.9

test:
  imports:
    - jsonpatch
  requires:
    - pip
    - pytest
  source_files:
    - tests.*
  commands:
    - pip check
    - pytest tests.py

about:
  home: https://github.com/stefankoegl/python-json-patch
  license: BSD-3-Clause
  license_family: BSD
  license_file: LICENSE
  summary: Apply JSON-Patches (RFC 6902)
  description: |
    python-json-patch is a Python library for applying JSON patches (RFC 6902).
    Python 2.7 and 3.4+ are supported. Tests are run on both CPython and PyPy.
  dev_url: https://github.com/stefankoegl/python-json-patch
  doc_url: https://python-json-patch.readthedocs.io

extra:
  recipe-maintainers:
    - pavelzw
    - anguslees
    - pmlandwehr
