**/.DS_Store
**/.env
**/__pycache__/



# Ignore all contents of the virtual environment directory
.venv/*

# Ignore all contents of the directory "work_dir"
work_dir/*
# But do not ignore the directory itself
!work_dir/.gitkeep

# Ignore all contents of the directory "memory"
memory/*
# But do not ignore the directory itself
!memory/.gitkeep

# Ignore all contents of the directory "logs"
logs/*
# But do not ignore the directory itself
!logs/.gitkeep