ansio==0.0.1
python-dotenv==1.0.1
langchain-groq==0.1.5
langchain-huggingface==0.0.3
langchain-openai==0.1.8
langchain-community==0.2.4
langchain-anthropic==0.1.15
langchain-chroma==0.1.1
google-generativeai==0.5.4
webcolors==24.6.0
sentence-transformers==3.0.1
pytimedinput==2.0.1
docker==7.1.0
paramiko==3.4.0
