ansio==0.0.1
python-dotenv==1.0.1
langchain-groq==0.1.5
langchain-huggingface==0.0.3
langchain-openai==0.1.8
langchain-community==0.2.4
langchain-anthropic==0.1.15
langchain-chroma==0.1.1
webcolors==24.6.0
sentence-transformers==3.0.1