{% set version = "43.0.0" %}

package:
  name: cryptography
  version: {{ version }}

source:
  url: https://pypi.io/packages/source/c/cryptography/cryptography-{{ version }}.tar.gz
  sha256: b88075ada2d51aa9f18283532c9f60e72170041bba88d7f37e49cbb10275299e

build:
  number: 0
  skip: true  # [py<37]
  script:
    # As of cryptography version 40.0.0, build instructions have changed: https://cryptography.io/en/latest/changelog/#v40-0-0
    # here is the documentation on setting things manually, https://docs.rs/openssl/latest/openssl/#manual
    - export OPENSSL_DIR=$PREFIX        # [unix]
    - set OPENSSL_DIR=%LIBRARY_PREFIX%  # [win]
    - {{ PYTHON }} -m pip install . -vv --no-deps --no-build-isolation
  missing_dso_whitelist:  # [s390x]
    - $RPATH/ld64.so.1    # [s390x]
requirements:
  build:
    - {{ compiler('rust') }}
    # forcing rust to 1.71 to keep compatibility with osx 10.9.
    - rust <1.72
    - vs2017_{{ target_platform }}    # [win]
  host:
    - python
    - pip
    - setuptools !=74.0.0
    - wheel
    - maturin >=1,<2
    - openssl {{openssl}}
    - cffi >=1.12
  run:
    - python
    - cffi >=1.12
    - openssl
    - libgcc-ng     # [linux]; needed by `_rust.abi3.so`
  run_constrained:
    - bcrypt >=3.1.5

# Import tests take place in run_test.py
test:
  requires:
    - certifi
    - cryptography-vectors {{ version }}
    - pip
    - pytest >=6.2.0
    - pytest-benchmark
    - pytest-cov
    - pytest-xdist
    - pretend
  source_files:
    - tests
    - pyproject.toml
  commands:
    - pip check
    # run_test.py will check that the correct openssl version is linked
    - pytest -n auto #  [not arm64]
    - pytest -n auto -k "not (test_x509_csr_extensions or test_no_leak_free or test_no_leak_no_malloc or test_leak or test_create_certificate_with_extensions or test_ec_derive_private_key or test_ec_private_numbers_private_key or test_create_ocsp_request or test_write_pkcs12_key_and_certificates or test_errors or test_ec_private_numbers_private_key or test_create_crl_with_idp or test_no_leak_gc or test_x25519_pubkey_from_private_key)" # [arm64]

about:
  home: https://github.com/pyca/cryptography
  license: Apache-2.0 OR BSD-3-Clause
  license_family: OTHER
  license_file:
    - LICENSE
    - LICENSE.APACHE
    - LICENSE.BSD
  summary: Provides cryptographic recipes and primitives to Python developers
  description: |
    Cryptography is a package which provides cryptographic recipes and
    primitives to Python developers. Our goal is for it to be your
    "cryptographic standard library". It supports Python 3.6+ and PyPy3 7.2+.
    cryptography includes both high level recipes and low level interfaces to
    common cryptographic algorithms such as symmetric ciphers, message digests,
    and key derivation functions.
  dev_url: https://github.com/pyca/cryptography
  doc_url: https://cryptography.io/

extra:
  recipe-maintainers:
    - jakirkham
    - ocefpaf
    - chenghlee
