{% set name = "bzip2" %}
{% set version = "1.0.8" %}

package:
  name: {{ name }}
  version: {{ version }}

source:
  url: https://sourceware.org/pub/{{ name }}/{{ name }}-{{ version }}.tar.gz
  sha256: ab5a03176ee106d3f0fa90e381da478ddae405918153cca248e682cd0c4a2269
  patches:
    - 0001-cross.patch  # [not win]
    # 2024/2/23: build_dll.patch might not be required in future versions.
    # Check it before building the next release.
    - build_dll.patch   # [win]

build:
  number: 6
  run_exports:
    - {{ pin_subpackage('bzip2') }}

requirements:
  build:
    - {{ compiler('c') }}
    - m2-patch             # [win]
    - patch                # [not win]
    - make                 # [unix]

test:
  files:                   # [win]
    - bz2.c                # [win]
  requires:                # [win]
    - {{ compiler('c') }}  # [win]
  commands:
    - bzip2 --help
    {% set bzip2_executables = [
      "bunzip2",
      "bzcat",
      "bzcmp",
      "bzdiff",
      "bzegrep",
      "bzfgrep",
      "bzgrep",
      "bzip2recover",
      "bzip2",
      "bzless",
      "bzmore"
    ] %}
    {% for executable in bzip2_executables %}
    - test -f ${PREFIX}/bin/{{ executable }}  # [unix]
    {% endfor %}
    - test -f ${PREFIX}/include/bzlib.h       # [unix]
    - test -f ${PREFIX}/lib/libbz2.a          # [unix]
    - test -f ${PREFIX}/lib/libbz2${SHLIB_EXT}        # [unix]

about:
  home: https://sourceware.org/bzip2/
  license_family: BSD
  license_file: LICENSE
  # Important that the SPDX License List (https://spdx.org/licenses/) doesn't have the license name `bzip2-1.0.8` because only `bzip2-1.0.6` exists but it's incorrect.
  # The real name must be `bzip2-1.0.8`,
  # see the upstream LICENSE file https://sourceware.org/git/?p=bzip2.git;a=blob;f=LICENSE;h=81a37eab7a5be1a34456f38adb74928cc9073e9b;hb=9de658d248f9fd304afa3321dd7a9de1280356ec#l40
  license: bzip2-1.0.8
  summary: high-quality data compressor
  description: |
    Bzip2 is a freely available high-quality data compressor. It typically
    compresses files to within 10% to 15% of the best available techniques,
    whilst being around twice as fast at compression and six times faster
    at decompression.
  doc_url: https://sourceware.org/bzip2/docs.html
  dev_url: https://sourceware.org/git/?p=bzip2.git

extra:
  recipe-maintainers:
    - jakirkham
    - jjhelmus
    - pelson
    - jlanga
    - mingwandroid
    - msarahan
