{% set version = "1.20.1" %}

package:
  name: krb5
  version: {{ version }}

source:
  url: https://github.com/krb5/krb5/archive/krb5-{{ version }}-final.tar.gz
  sha256: ec3861c3bec29aa8da9281953c680edfdab1754d1b1db8761c1d824e4b25496a

build:
  number: 1
  skip: True  # [win and vc<14]
  run_exports:
    # stable within minor revisions: https://abi-laboratory.pro/tracker/timeline/krb5/
    - {{ pin_subpackage('krb5', max_pin='x.x') }}
  ignore_run_exports:
    # C++ and Tcl are only needed for performing built-in unit tests.
    - libcxx          # [osx]
    - libstdcxx-ng    # [linux]
    - tk
  missing_dso_whitelist:          # [osx]
    - /usr/lib/libresolv.9.dylib  # [osx]

requirements:
  build:
    - {{ compiler('c') }}
    - {{ compiler('cxx') }}
    - bison       # [not win]
    - autoconf    # [not win]
    - posix       # [win]
    - perl        # [win]
    - pkg-config  # [unix]
    - make        # [unix]
  host:
    - libedit 3.1.20221030  # [unix]
    - openssl {{ openssl }} # [unix]
    - tk 8.6.12
  run:
    - {{ pin_compatible('libedit') }}  # [unix]
    - openssl  # exact pin handled through openssl run_exports
test:
  requires:
    - python 3.11

about:
  home: https://web.mit.edu/kerberos/
  license: MIT
  license_file: doc/notice.rst
  license_family: MIT
  summary: 'A network authentication protocol.'
  description: |
    Kerberos is a network authentication protocol. It is designed to provide strong authentication for client/server applications by using secret-key cryptography. 
  doc_url: https://web.mit.edu/kerberos/krb5-1.20/doc/index.html
  dev_url: https://kerberos.org/dist/index.html

extra:
  recipe-maintainers:
    - pelson
    - ocefpaf
    - mingwandroid
    - mariusvniekerk
    - chenghlee
