{% set name = "pycosat" %}
{% set version = "0.6.6" %}

package:
  name: {{ name }}
  version: {{ version }}

source:
  url: https://github.com/conda/{{ name }}/archive/{{ version }}.tar.gz
  sha256: b0014986321e77a36d8fe24827698aae076500c817133a700608bd677b77a998

build:
  number: 1 # trigger
  script: {{ PYTHON }} -m pip install . --no-deps -vv

requirements:
  build:
    - python                                 # [build_platform != target_platform]
    - cross-python_{{ target_platform }}     # [build_platform != target_platform]
    - {{ compiler('c') }}
    - pip
    - setuptools
    - wheel
  host:
    - msinttypes  # [win and py2k]
    - python
    - pip
  run:
    - python

test:
  files:
    - qg3-08.cnf
    - uf20-098.cnf
    - sudoku.py
    - test_package.py
  requires:
    - pip
  imports:
    - pycosat
  commands:
    - pip check
    - python test_package.py "{{ version }}"

about:
  home: https://github.com/conda/pycosat
  license: MIT
  license_family: MIT
  license_file:
    - LICENSE
  license_url: https://github.com/conda/pycosat/blob/{{ version }}/LICENSE
  summary: Bindings to picosat (a SAT solver)
  description: |
    PicoSAT is a popular SAT solver written by Armin Biere in pure C. This
    package provides efficient Python bindings to picosat on the C level, i.e.
    when importing pycosat, the picosat solver becomes part of the Python
    process itself.
  doc_url: https://pypi.org/project/pycosat/
  doc_source_url: https://github.com/conda/pycosat/blob/master/README.rst
  dev_url: https://github.com/conda/pycosat

extra:
  recipe-maintainers:
    - jakirkham
    - kalefranz
    - mcg1969
    - msarahan
    - pelson
    - nehaljwani
    - mingwandroid
