{% set version = "1.2.13" %}

package:
    name: zlib
    version: {{ version }}

source:
    url: https://github.com/madler/zlib/releases/download/v{{ version }}/zlib-{{ version }}.tar.gz
    sha256: b3a24de97a8fdbc835b9833169501030b8977031bcb54b3b3ac13740f846ab30
    patches:
        - cmake-pkg-config.patch

build:
    number: 1
    run_exports:
        # mostly OK, but some scary symbol removal.  Let's try for trusting them.
        #    https://abi-laboratory.pro/tracker/timeline/zlib/
        - {{ pin_subpackage('zlib', max_pin='x.x') }}

requirements:
    build:
        - {{ compiler('c') }}
        - {{ compiler('cxx') }}  # [win32]
        # Require `cmake-no-system` to break circular dependency;
        # the `cmake` package on defaults requires `zstd`.
        - cmake-no-system
        - msinttypes  # [win and vc<14]
        - make  # [not win]
        - patch  # [not win]
        - m2-patch  # [win]
    host:
        - ripgrep         # Should this be removed?

test:
    commands:
       - test -f ${PREFIX}/include/zlib.h  # [unix]
       - test -f ${PREFIX}/lib/libz.a      # [unix]
       - test -f ${PREFIX}/lib/libz.so     # [linux]
       - test -f ${PREFIX}/lib/libz.dylib  # [osx]
       - if not exist %PREFIX%/Library/include/zlib.h exit 1         # [win]
       - if not exist %PREFIX%/Library/lib/z.lib exit 1              # [win]
       - if not exist %PREFIX%/Library/lib/zdll.lib exit 1           # [win]
       - if not exist %PREFIX%/Library/lib/zlib.lib exit 1           # [win]
       - if not exist %PREFIX%/Library/lib/zlibstatic.lib exit 1     # [win]
       - if not exist %PREFIX%/Library/bin/zlib.dll exit 1           # [win]

about:
    home: https://zlib.net/
    # http://zlib.net/zlib_license.html
    license: Zlib
    summary: Massively spiffy yet delicately unobtrusive compression library
    license_family: Other
    # Note: we copy 'recipe/license.txt' which contains the header from `zlib.h`.
    # Correct update of this recipe requires an update of `recipe/license.txt`.
    license_file: zlib.h
    description: |
      zlib is designed to be a free, general-purpose, lossless data-compression
      library for use on virtually any computer hardware and operating system.
    doc_url: https://zlib.net/manual.html
    dev_url: https://github.com/madler/zlib

extra:
    recipe-maintainers:
        - groutr
        - msarahan
        - ocefpaf
        - mingwandroid
