{% set version = "2.6.3" %}
{% set ver = version|replace(".", "_") %}

package:
  name: expat
  version: {{ version }}

source:
  url: https://github.com/libexpat/libexpat/releases/download/R_{{ ver }}/expat-{{ version }}.tar.bz2
  sha256: b8baef92f328eebcf731f4d18103951c61fa8c8ec21d5ff4202fb6f2198aeb2d

build:
  number: 0
  run_exports:
    # changes soname at major versions, default settings OK
    # https://abi-laboratory.pro/tracker/timeline/expat/
    - {{ pin_subpackage('expat') }}

requirements:
  build:
    - cmake  # [win]
    - make  # [unix]
    - libtool  # [unix]
    - {{ compiler('c') }}
    - {{ compiler('cxx') }}

test:
  commands:
    - xmlwf -h

about:
  home: https://libexpat.github.io
  license: MIT
  license_family: MIT
  license_file: COPYING
  summary: Expat XML parser library in C
  description: |
    Expat is a stream-oriented XML parser library written in C.
    Expat excels with files too large to fit RAM, and where performance
    and flexibility are crucial.
  dev_url: https://github.com/libexpat/libexpat
  doc_url: https://libexpat.github.io/doc/

extra:
  recipe-maintainers:
    - kwilcox
    - ocefpaf
    - pelson
    - mingwandroid
    - msarahan
    - scopatz
