{% set name = "platformdirs" %}
{% set version = "3.10.0" %}

package:
  name: {{ name|lower }}
  version: {{ version }}

source:
  url: https://pypi.io/packages/source/{{ name[0] }}/{{ name }}/platformdirs-{{ version }}.tar.gz
  sha256: b45696dab2d7cc691a3226759c0d3b00c47c8b6e293d96f6436f733303f77f6d
build:
  number: 0
  skip: True  # [py<38]
  script: {{ PYTHON }} -m pip install . --no-deps --no-build-isolation -vv

requirements:
  host:
    - python
    - pip
    - hatchling >=1.17.1
    - hatch-vcs >=0.3
  run:
    - python

test:
  source_files:
    - tests
  imports:
    - platformdirs
  commands:
    - pip check
    - pytest tests -vv
  requires:
    - pip
    - pytest
    - pytest-mock
    - appdirs

about:
  home: https://github.com/platformdirs/platformdirs
  license: MIT
  license_family: MIT
  license_file: LICENSE
  description: |
    About A small Python module for determining appropriate
    platform-specific dirs, e.g. a "user data dir".
  summary: A small Python module for determining appropriate platform-specific dirs, e.g. a "user data dir".
  dev_url: https://github.com/platformdirs/platformdirs
  doc_url: https://platformdirs.readthedocs.io/

extra:
  recipe-maintainers:
    - adament
    - gaborbernat