{% set name = "ruamel.yaml" %}
{% set version = "0.18.6" %}

package:
  name: {{ name|lower }}
  version: {{ version }}

source:
  url: https://pypi.io/packages/source/{{ name[0] }}/{{ name }}/ruamel.yaml-{{ version }}.tar.gz
  sha256: 8b27e6a217e786c6fbe5634d8f3f11bc63e0f80f6a5890f28863d9c45aac311b

build:
  number: 0
  skip: true  # [py<37]
  script: {{ PYTHON }} -m pip install . --no-deps --no-build-isolation -vv
  script_env:
    # To prevent setting a long description in the package metadata from the readme.
    # Using the current readme results in an encoding mismatch on windows.
    - RUAMEL_NO_LONG_DESCRIPTION=1

requirements:
  build:
    - {{ compiler('c') }}
  host:
    - python
    - pip
    - setuptools
    - wheel
  run:
    - python
    - ruamel.yaml.clib >=0.2.7  # [py<313]

test:
  imports:
    - ruamel.yaml
  requires:
    - pip
  commands:
    - pip check
  # downstreams:
  #   - conda-index
  #   - conda-lock
  #   - conda-project
  #   - grayskull
  #   - oauthenticator
  #   - pyspnego
  #   - conda-auth

about:
  home: https://sourceforge.net/projects/ruamel-yaml/
  license: MIT
  license_family: MIT
  license_file: LICENSE
  summary: "A YAML package for Python. It is a derivative of Kirill Simonov's PyYAML 3.11 which supports YAML1.1"
  description: "A YAML parser/emitter that supports roundtrip preservation of comments, seq/map flow style, and map key order"
  doc_url: https://yaml.readthedocs.io
  dev_url: https://sourceforge.net/projects/ruamel-yaml/

extra:
  recipe-maintainers:
    - jakirkham
    - pelson
    - mwcraig
    - ocefpaf
    - mbargull
