{% set name = "zstandard" %}
{% set version = "0.23.0" %}
{% set zstd_version = "1.5.6" %}

package:
  name: {{ name }}
  version: {{ version }}

source:
  url: https://pypi.io/packages/source/{{ name[0] }}/{{ name }}/{{ name }}-{{ version }}.tar.gz
  sha256: b2d8c62d08e7255f68f7a740bae85b3c9b8e5466baa9cbf7f57f1cde0ac6bc09
  patches:
    - use_system_zstd.patch

build:
  number: 0
  skip: True  # [py<38]
  script: {{ PYTHON }} -m pip install --no-deps --no-build-isolation . -vv

requirements:
  build:
    - {{ compiler('c') }}
    - patch     # [unix]
    - m2-patch  # [win]
  host:
    - python
    - cffi 1.16  # [py<=312]
    - cffi 1.17  # [py>=313]
    - pip
    - setuptools <69.0.0 
    - wheel
    - zstd {{ zstd_version }}
  run:
    - python
    - cffi >=1.11  # [py<=312]
    - cffi >=1.17  # [py>=313]
    # The system zstd library and headers must match what python-zstandard is coded against exactly.
    # https://github.com/indygreg/python-zstandard/blob/0.22.0/zstd/zstd.h#L110
    # https://github.com/indygreg/python-zstandard/blob/0.22.0/setup_zstd.py#L38-L40
    - {{ pin_compatible("zstd", max_pin="x.x.x") }}

test:
  requires:
    - pip
  commands:
    - pip check
  imports:
    - zstandard

about:
  home: https://github.com/indygreg/python-zstandard
  license: BSD-3-Clause
  license_family: BSD
  license_file:
    - LICENSE
    - zstd/LICENSE
  summary: Zstandard bindings for Python
  description: |
    This project provides Python bindings for interfacing with the
    Zstandard compression library. A C extension and CFFI interface are
    provided.
  doc_url: https://github.com/indygreg/python-zstandard/blob/main/README.rst#python-zstandard
  dev_url: https://github.com/indygreg/python-zstandard

extra:
  recipe-maintainers:
    - rmax
    - xhochy
