{% set name = "conda" %}
{% set version = "24.9.2" %}
{% set build_number = "0" %}
{% set sha256 = "0dcccbdaab96232dfee4471ca7ea7bbcacdcdf99d161cbb61bd7e92074fa7fcb" %}
# Running the upstream test suite requires the inclusion of test files, which
# balloons the size of the package and occasionally triggers false-positive
# security warnings; values can be "yes" or "no".
{% set run_upstream_tests = "no" %}

package:
  name: {{ name }}
  version: {{ version }}

source:
  url: https://github.com/conda/{{ name }}/releases/download/{{ version }}/{{ name }}-{{ version }}.tar.gz
  sha256: {{ sha256 }}

build:
  skip: True  # [py<38]
  number: {{ build_number }}
  script: {{ PYTHON }} -m pip install . --no-deps --no-build-isolation -vv && {{ PYTHON }} -m conda init --install
  # These are present when the new environment is created
  # so we have to exempt them from the list of initial files
  # for conda-build to realize they should be included.
  always_include_files:
    - bin/conda                    # [unix]
    - bin/activate                 # [unix]
    - bin/deactivate               # [unix]
    - Scripts/activate.bat         # [win]
    - Scripts/activate             # [win]
    - Scripts/deactivate           # [win]

requirements:
  build:
    - git                          # [not win]
    - m2-filesystem                # [win]
    - m2-bash                      # [win]
    - m2-base                      # [win]
  host:
    - python
    - pip
    - hatchling >=1.12.2
    - hatch-vcs >=0.2.0
    # for `conda init` in build/script above
    - boltons >=23.0.0
    - menuinst >=2
    - platformdirs >=3.10.0
    - requests >=2.28.0,<3
    - ruamel.yaml >=0.11.14,<0.19
    - tqdm >=4
  run:
    - archspec >=0.2.3
    - boltons >=23.0.0
    - charset-normalizer
    - conda-libmamba-solver >=23.11.0
    - conda-package-handling >=2.2.0
    - distro >=1.5.0
    - frozendict >=2.4.2
    - jsonpatch >=1.32
    - menuinst >=2
    - packaging >=23.0
    - platformdirs >=3.10.0
    - pluggy >=1.0.0
    - pycosat >=0.6.3
    - python
    - requests >=2.28.0,<3
    - ruamel.yaml >=0.11.14,<0.19
    - setuptools >=60.0.0
    - tqdm >=4
    - truststore >=0.8.0           # [py>=310]
    - zstandard >=0.19.0
  run_constrained:
    - conda-build >=3.27
    - conda-content-trust >=0.1.1
    - conda-env >=2.6

test:
{% if run_upstream_tests == 'yes' %}
  source_files:
    - tests
    - setup.cfg
{% endif %}
  requires:
{% if run_upstream_tests == 'yes' %}
    - mock
    - pytest
    - pexpect
    - responses
    # - conda-build  # needed to run the test suite, but we're not doing that right now.
{% endif %}
    - m2-filesystem  # [win]
    - m2-bash        # [win]
    - m2-base        # [win]
  imports:
    - conda
    - conda_env
  downstreams:
    - conda-smithy  # [py3k]

about:
  home: https://docs.conda.io/
  license: BSD-3-Clause
  license_family: BSD
  license_file: LICENSE
  summary: OS-agnostic, system-level binary package and environment manager.
  description: |
    Conda is an open source package management system and environment
    management system for installing multiple versions of software packages
    and their dependencies and switching easily between them. It works on
    Linux, OS X and Windows, and was created for Python programs but can
    package and distribute any software.
  doc_url: https://docs.conda.io/projects/conda/en/stable/
  dev_url: https://github.com/conda/conda

extra:
  skip-lints:
    - python_build_tool_in_run
    - missing_pip_check
