API_KEY_OPENAI=
API_KEY_ANTHROPIC=
API_KEY_GROQ=
API_KEY_PERPLEXITY=
API_KEY_GOOGLE=
API_KEY_MISTRAL=
API_KEY_OPENROUTER=
API_KEY_SAMBANOVA=

API_KEY_OPENAI_AZURE=
OPENAI_AZURE_ENDPOINT=
OPENAI_API_VERSION=

HF_TOKEN=


WEB_UI_PORT=50001
USE_CLOUDFLARE=false


OLLAMA_BASE_URL="http://127.0.0.1:11434"
LM_STUDIO_BASE_URL="http://127.0.0.1:1234/v1"
OPEN_ROUTER_BASE_URL="https://openrouter.ai/api/v1"
SAMBANOVA_BASE_URL="https://fast-api.snova.ai/v1"


TOKENIZERS_PARALLELISM=true
PYDEVD_DISABLE_FILE_VALIDATION=1
